<footer class="footer-section">
    <div class="container">
        <div class="row d-flex flex-wrap border-top pt-2 pt-md-5">
            <div class="col-12 col-lg-4 mt-3 mt-md-0">
                <h1 class="fw-bold">Mimi</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies luctus massa, nec faucibus quam mattis sit amet.</p>
            </div>
            <div class="col-6 col-lg-2 mt-3 mt-md-0">
                <h4>Social</h4>
                <ul>
                    <li>
                        <a href="">
                            <span><i class="mdi mdi-twitter"></i> Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span><i class="mdi mdi-instagram"></i> Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span><i class="mdi mdi-facebook"></i> Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span><i class="mdi mdi-youtube"></i> Youtube</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mt-3 mt-md-0">
                <h4>Pages</h4>
                <ul>
                    <li>
                        <a href="">
                            <span>Blogs</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Categories</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Authors</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Contact</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mt-3 mt-md-0">
                <h4>Resources</h4>
                <ul>
                    <li>
                        <a href="">
                            <span>Sign in</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Sign up</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>404</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Search</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mt-3 mt-md-0">
                <h4>Membership</h4>
                <ul>
                    <li>
                        <a href="">
                            <span>Editor's Choice</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Membership</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Account Free</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Account Paid</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            <small>© Mimi 2023. All rights reserved.</small>
        </div>
    </div>
</footer>