<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand pb-5" href="index.html">Mimi</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 justify-content-center pt-5">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Mimi/index.html"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Mimi/categories.html">Categories</a>
        </li>
      </ul>
      <a href="/Mimi/signIn.html" class="btn btn-primary header-login-btn mb-5 text-nowrap">
        Log In
      </a>
    </div>
  </div>
</nav>
