<section class="subscribe-section">
    <div class="container">
        <div class="subscribe-mask"></div>
        <div class="card main-card">
            <div class="card-body">
                <div class="row d-flex">
                    <div class="col-md-5 order-lg-2">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center ps-1">
                                <div class="row justify-content-end">
                                    <div class="col-12 mb-3">
                                        <img class="img-fluid" src="assets/media/hero.jpg" alt="...">
                                    </div>
                                    <div class="col-11 mb-3">
                                        <img class="img-fluid" src="assets/media/hero.jpg" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 d-flex align-items-center ps-1">
                                <div class="row">
                                    <div class="col-10 mb-3">
                                        <img class="img-fluid" src="assets/media/hero.jpg" alt="...">
                                    </div>
                                    <div class="col-11 mb-3">
                                        <img class="img-fluid" src="assets/media/hero.jpg" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 mt-4 mt-md-0 d-flex flex-column align-items-start justify-content-center pe-md-5 mb-3 mb-md-0 text-center text-md-start">
                        <h1 class="card-title text-light">Mimi</h1>
                        <p class="card-text text-light pe-md-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a
                            pellentesque urna. Duis ut suscipit felis, sit amet interdum nisl.
                            Sed tincidunt tellus felis, et tempor magna pretium eu.
                        </p>
                        <a href="#" class="btn btn-warning mt-3"><span>Become a Subscribe</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>