/*************
General
***************/
* {
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

button {
    white-space: nowrap;
}

section {
    padding: 30px 0 30px 0;
    position: relative;
}

a {
    text-decoration: none;
    color: unset;
}

a span,
.btn span {
    background-image: linear-gradient(black, black);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s ease;
}

a:hover span,
.btn:hover span {
    background-size: 100% 2px;
}

.btn {
    transition: transform .5s ease;
    will-change: transform;
}

.btn:hover {
    transform: translateY(-4px);
}

/*************
Section
***************/
.section-header {
    text-align: center;
    font-weight: bold;
}

.section-content {
    color: #696969;
    font-size: 14px;
    padding-bottom: 25px;
    text-align: center;
}

/*************
Header
***************/
.header {
    position: relative;
    height: 30vh;
    overflow: hidden;
    background-image: url("../media/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .50);
    left: 0;
    top: 0;
}

.header-content {
    position: relative;
    text-align: center;
}

.header-content h2{
    color: white;
    font-size: 50px;
}

.header-content p {
    color: #e0e0e0;
    font-size: 20px;
}

/*************
Navbar
***************/
.navbar-brand {
    font-size: 45px;
}

/*************
Main
***************/
.main-section {
    padding: 0;
    margin: 0;
    width: 100%;
}

/*************
Categories
***************/

.categories-section .categories-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.categories-section .categories-container .credit {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: inherit;
}

.categories-section .categories-container .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.categories-section .categories-container .options .option {
    flex-grow: 1;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    min-width: 100px;
    margin: 10px;
    background: var(--optionBackground);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.categories-section .categories-container .options .option.active {
    flex-grow: 7;
    transform: scale(1);
    margin: 0;
    border-radius: 40px;
    background-size: cover;
}

.categories-section .categories-container .options .option:nth-child(1) {
    --defaultBackground: #ed5565;
}

.categories-section .categories-container .options .option:nth-child(2) {
    --defaultBackground: #fc6e51;
}

.categories-section .categories-container .options .option:nth-child(3) {
    --defaultBackground: #ffce54;
}

.categories-section .categories-container .options .option:nth-child(4) {
    --defaultBackground: #2ecc71;
}

.categories-section .categories-container .options .option:nth-child(5) {
    --defaultBackground: #5d9cec;
}

.categories-section .categories-container .options .option:nth-child(6) {
    --defaultBackground: #ac92ec;
}

.categories-section .categories-container .options .option .label-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.categories-section .categories-container .options .option.active .label-shadow {
    background: #00000029;
}

.categories-section .categories-container .options .option .label {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.categories-section .categories-container .options .option .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
    position: absolute;
    bottom: calc(50% - 25px);
    left: calc(50% - 26px);
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.categories-section .categories-container .options .option.active .label .icon {
    width: 80px;
    height: 80px;
    bottom: 10px;
    left: 10px;
}

.categories-section .categories-container .options .option .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    white-space: pre;
    left: calc(50% - 35px);
    top: 0;
    opacity: 0;
    position: absolute;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.categories-section .categories-container .options .option.active .label .info {
    top: calc(50% - 20px);
    opacity: 1;
}

.categories-section .categories-container .options .option .label .info .main {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/*************
Footer
***************/
.footer-section {
    padding-bottom: 25px;
    padding-top: 25px;
}

.footer-section h4 {
    font-weight: bold;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-top: 10px;
}

/*************
Subscribe
***************/

/*************
Discover
***************/

.subscribe-section .container {
    padding: 80px 50px;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../media/header.jpg");
    border-radius: 15px;
}

.subscribe-section .main-card {
    border: 0;
    background: unset;
}

.subscribe-section .subscribe-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 55%);
    left: 0;
    top: 0;
}

@media screen and (max-width: 992px){
    .subscribe-section .container{
        border-radius: 0;
    }
}

/*************
Hover Animations
***************/

.hover-top {
    transition: transform .5s ease;
    will-change: transform;
}

.hover-top:hover {
    transform: translateY(-4px);
}

.img-link img {
    transition: transform .5s ease;
    will-change: transform;
}

.img-link:hover img {
    transform: scale(1.05);
}