/*************
Section
***************/
.home-page .section-header {
  text-align: center;
  font-weight: bold;
}

.home-page .section-content {
  color: #696969;
  font-size: 14px;
  padding-bottom: 25px;
  text-align: center;
}

/*************
Hero
***************/

.hero-section .img-container {
  box-shadow: #0000005c 5px 0px 4px 0px;
  border-radius: 0 35px 0 0;
}

.hero-section .img-container img {
  border-radius: 0 35px 0 0;
}

.hero-section .img-container::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -77px;
  width: 100px;
  height: 100px;
  background: white;
  transform: rotate(311deg);
  transform-origin: left top;
}

.hero-section .cards {
  box-shadow: #0000005c 3px 2px 4px 2px;
  border-radius: 10px 0 35px 35px;
  overflow: hidden;
}

.hero-section .card {
  border: 0;
  height: 250px;
  padding-top: 25px;
}

.hero-section .cards .col-md-4:nth-child(2) .card {
  border-left: 1px solid gray;
}

.hero-section .cards .col-md-4:nth-child(3) .card {
  border-left: 1px solid gray;
}

.hero-section .typing {
  overflow: hidden;
  display: flex;
}

.hero-section .font {
  font-weight: bold;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hero-section .input-cursor {
  width: 2px;
  height: 42px;
  background-color: black;
  animation: blink 0.6s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*************
Blogs
***************/

.blogs .card {
  border: 0;
}

.blogs .card .card-header {
  border: 0;
  padding: 0;
  display: flex;
  position: relative;
  border-radius: 35px;
  /*box-shadow: 4px 4px 20px 2px #0000009c;*/
  overflow: hidden;
}

.blogs .card .card-header .blog-category-badges {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.blogs .card .card-header .blog-category-badges a {
  margin: 2px;
  font-size: 13px;
}

.blogs .card .card-body {
  padding: 25px 0 25px 0;
}

.blogs .card .card-body .card-title {
  font-weight: bold;
  margin: 0 0 5px;
  font-size: 30px;
}

.blogs .card .card-body .card-text {
  font-size: 17px;
  color: #5a5858;
  margin: 0 0 5px;
}

.blogs .card .card-footer {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

.blogs .meta {
  display: flex;
}

.blogs .meta .meta-avatars {
  position: relative;
  display: flex;
  flex-direction: row;
}

.blogs .meta .meta-avatars a {
  margin-left: -5px;
}

.blogs .meta .meta-avatars img {
  width: 25px;
  height: 25px;
  border-radius: 30px;
  box-shadow: 1px 1px 7px #000000c7;
}

.blogs .meta .meta-contents {
  margin-left: 10px;
  color: #616161;
}

.blogs .meta .meta-contents .meta-authors {
  font-size: 12px;
}

.blogs .meta .meta-contents .meta-authors a {
  font-weight: bolder;
}

.blogs .meta .meta-contents .meta-date {
  font-size: 10px;
}

.blogs-section .blogs card{
  margin-bottom: 48px;
}

/*************
Featured Blog
***************/

.featured-blogs-section {}

.featured-blogs-section .card {
  padding: 20px;
}

.featured-blogs-section .card .card-header .blog-category-badges a {
  padding: 5px;
  margin: 2px;
  font-size: 10px;
}

.featured-blogs-section .card .card-body {
  padding: 10px 0 5px 0;
}

.featured-blogs-section .meta .meta-contents {
  margin-left: 0;
  color: #616161;
}

.featured-blogs-section::-webkit-scrollbar {
    width: 6px;
}

.featured-blogs-section::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.featured-blogs-section::-webkit-scrollbar-thumb {
  background: #888; 
}

.featured-blogs-section::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*************
Recent Blog
***************/

.recent-blog-section .blogs .card .card-header .blog-category-badges a {
  font-size: 17px;
}

.recent-blog-section .blogs .card .card-body .card-title {
  font-weight: bold;
  margin: 0 0 5px;
  font-size: 45px;
}

.recent-blog-section .blogs .card .card-body .card-text {
  font-size: 23px;
}

.recent-blog-section .blogs .meta .meta-avatars img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 1px 1px 7px #000000c7;
}

.recent-blog-section .blogs .meta .meta-contents .meta-authors {
  font-size: 14px;
}

.recent-blog-section .blogs .meta .meta-contents .meta-date {
  font-size: 12px;
}