<section class="discover-section">
    <div class="container py-5">
        <div class="discover-img">
            <div class="position-relative w-100 h-100">
                <div class="discover-mask"></div>
            </div>
        </div>
        <div class="card main-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 pe-md-5 mb-3 mb-md-0 text-center text-md-start">
                        <h1 class="card-title text-light">Mimi</h1>
                        <p class="card-text text-light pe-md-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a
                            pellentesque urna. Duis ut suscipit felis, sit amet interdum nisl.
                            Sed tincidunt tellus felis, et tempor magna pretium eu.
                        </p>
                        <a href="#" class="btn btn-outline-warning mt-3"><span>Go somewhere</span></a>
                    </div>
                    <div class="col-md-5 align-self-md-center">
                        <div class="row">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <div class="card bg-light py-3">
                                    <div class="card-body">
                                        <h5 class="card-title fs-3 fw-bold">Card title</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="card bg-light py-3">
                                    <div class="card-body">
                                        <h5 class="card-title fs-3 fw-bold">Card title</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
