<section class="featured-blogs-section">
    <h2 class="section-header">H2 Heading</h2>
    <div class="row blogs">
        <article class="col-md-12">
            <div class="card mb-3">
                <div class="card-header hover-top">
                    <a href="#" class="img-link">
                        <img src="assets/media/header.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <div class="blog-category-badges">
                        <a href="#" class="btn btn-light"> <span>Category 1</span></a>
                    </div>
                    <a href="#" class="card-title">
                        <span>Blog Heading</span>
                    </a>
                </div>
                <div class="card-footer">
                    <div class="meta">
                        <div class="meta-contents">
                            <div class="meta-authors">
                                by <a href="#"><span>Burak Dogan</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="card mb-3">
                <div class="card-header hover-top">
                    <a href="#" class="img-link">
                        <img src="assets/media/header.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <div class="blog-category-badges">
                        <a href="#" class="btn btn-light"> <span>Category 1</span></a>
                        <a href="#" class="btn btn-light"> <span>Category 2</span></a>
                    </div>
                    <a href="#" class="card-title">
                        <span>Blog Heading</span>
                    </a>
                </div>
                <div class="card-footer">
                    <div class="meta">
                        <div class="meta-contents">
                            <div class="meta-authors">
                                by <a href="#" class="hover-top"><span>Batuhan Dogan</span></a> & <a href="#" class="hover-top"><span>Mert Ozcelik</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="card mb-3">
                <div class="card-header hover-top">
                    <a href="#" class="img-link">
                        <img src="assets/media/header.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <div class="blog-category-badges">
                        <a href="#" class="btn btn-light"> <span>Category 1</span></a>
                        <a href="#" class="btn btn-light"> <span>Category 2</span></a>
                        <a href="#" class="btn btn-light"> <span>Category 3</span></a>
                    </div>
                    <a href="#" class="card-title">
                        <span>Blog Heading</span>
                    </a>
                </div>
                <div class="card-footer">
                    <div class="meta">
                        <div class="meta-contents">
                            <div class="meta-authors">
                                by <a href="#"><span>Burak Dogan</span></a> & <a href="#" class="hover-top"><span>Batuhan Dogan</span></a></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>