<section class="hero-section" id="hero-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-8 order-lg-2">
                <div class="position-relative img-container">
                    <img class="img-fluid" src="assets/media/hero.jpg" />
                </div>
            </div>
            <div class="col-lg-4 pe-lg-5 m-auto">
                <div class="type">
                    <h1 class="font" id="feature-text"></h1>
                </div>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies luctus massa, nec faucibus quam mattis sit amet. Nunc condimentum convallis felis, sed pellentesque eros bibendum vitae.</p>
                <a href="blogs.html" class="btn btn-primary btn-lg w-100 mt-3"> <span>Explore More!</span></a>
            </div>
        </div>
    </div>
</section>