<section class="property-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center cards">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon">
                                        <span>
                                          <i style="--propertyIconColor: blue;" class="mdi mdi-walk"></i>
                                        </span>
                                </div>
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make
                                    up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon">
                                        <span>
                                          <i style="--propertyIconColor: red;" class="mdi mdi-walk"></i>
                                        </span>
                                </div>
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make
                                    up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon">
                                        <span>
                                          <i style="--propertyIconColor: orange;" class="mdi mdi-walk"></i>
                                        </span>
                                </div>
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make
                                    up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon">
                                        <span>
                                          <i style="--propertyIconColor: green;" class="mdi mdi-walk"></i>
                                        </span>
                                </div>
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make
                                    up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 content ps-lg-5 pe-lg-5 mt-3 mt-lg-0 d-flex flex-column text-center text-lg-start">
                <div class="align-items-start">
                    <h1 class="fw-bold">Lorem Ipsum</h1>
                    <p class="fs-6 opacity-75">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                        leo eros, molestie a malesuada eu, eleifend pretium velit. Donec
                        quam elit, ullamcorper vitae mollis nec, molestie quis magna. Nunc
                        malesuada vestibulum eros, at gravida elit vestibulum vel.
                    </p>
                    <a href="#" class="btn btn-primary btn-lg mt-3"><span>Explore All!</span></a>
                </div>
                <div class="icons mt-auto pt-3" style="">
                    <div class="icon-title">
                        <h5>Social</h5>
                    </div>

                    <i
                            class="mdi mdi-twitter p-2 rounded-circle"
                            style="background-color: #e5e5e5"
                    ></i>
                    <i
                            class="mdi mdi-twitter p-2 rounded-circle"
                            style="background-color: #ece0e0"
                    ></i>
                    <i
                            class="mdi mdi-twitter p-2 rounded-circle"
                            style="background-color: #ece0e0"
                    ></i>
                </div>
            </div>
        </div>
    </div>
</section>
