<section class="recent-blog-section">
    <h2 class="section-header">H2 Heading</h2>
    <p class="section-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas leo eros, molestie a
        malesuada eu, eleifend pretium velit. Donec quam elit, ullamcorper vitae mollis nec, molestie quis magna. Nunc
        malesuada vestibulum eros, at gravida elit vestibulum vel.</p>
    <div class="d-flex blogs">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header hover-top">
                    <a href="#">
                        <img src="assets/media/header.jpg" class="img-fluid">
                    </a>
                    <div class="blog-category-badges">
                        <a href="#" class="btn btn-light rounded-5"> <span>Category 1</span></a>
                        <a href="#" class="btn btn-light rounded-5"> <span>Category 2</span></a>
                        <a href="#" class="btn btn-light rounded-5"> <span>Category 3</span></a>
                    </div>
                </div>
                <div class="card-body">
                    <a href="#" class="card-title">
                        <span>Blog Heading</span>
                    </a>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a pellentesque urna. Duis ut suscipit felis, sit amet interdum nisl. Sed tincidunt tellus felis, et tempor magna pretium eu. Donec eu rutrum urna. In rhoncus efficitur tellus in eleifend. Pellentesque sodales ut est at ultrices. Vestibulum luctus euismod ante vel condimentum. Fusce porta scelerisque feugiat. Maecenas eget convallis enim, id rhoncus orci. Quisque diam ante, ullamcorper ac imperdiet ut, luctus ac tortor. Ut vel purus vitae nibh pharetra consequat eget non est.</p>
                </div>
                <div class="card-footer">
                    <div class="meta">
                        <div class="meta-avatars">
                            <a href="#" class="hover-top">
                                <img src="assets/media/avatar-1.webp" class="img-fluid">
                            </a>
                            <a href="#" class="hover-top">
                                <img src="assets/media/avatar-2.webp" class="img-fluid">
                            </a>
                            <a href="#" class="hover-top">
                                <img src="assets/media/avatar-3.webp" class="img-fluid">
                            </a>
                        </div>
                        <div class="meta-contents">
                            <div class="meta-authors">
                                by <a href="#"><span>Burak Dogan</span></a> & <a href="#" class="hover-top"><span>Batuhan Dogan</span></a> & <a href="#" class="hover-top"><span>Mert Ozcelik</span></a>
                            </div>
                            <div class="meta-date">
                                <time datetime="2023-10-07"><span>October 7, 2023 ∙ </span>4 min read</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>